$white: #ffffff;
$black: #000000;
$purple: #8a059e;
$red: #990606;
$blue: #0b3480;
$green: #0b5e07;
$orange: #e88c31;
$yellow: #f0fc42;
$cyan: #3cdec3;
$light-gray: #eeeeee;
$dark-gray: #444444;    

